.footer {
  background-image: url(../resources/images/main-bg.png);

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;

    @media (max-width: 1499.98px) {
      flex-wrap: wrap;
      gap: 140px;
    }

    @media (max-width: 810px) {
      gap: 60px;
    }

    @media (max-width: 768.98px) {
      padding: 60px 0;
      justify-content: center;
      gap: 50px;
    }

    @media (max-width: 720px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &-logo {
    display: block;

    @media (max-width: 768.98px) {
      width: 275px;
      text-align: left;
    }

    @media (max-width: 720px) {
      margin-bottom: 20px;
      text-align: center;
    }

    img {
      @media (max-width: 768.98px)  {
        max-width: 192px;
      }
    }
  }

  &-phone {
    @media (max-width: 720px) {
      margin-bottom: 20px;
      text-align: center;
    }

    &__link {
      margin-bottom: 2px;
      font-size: 36px;
      font-weight: 400;
      line-height: 46px;
      color: var(--color-black);
    }

    &__time-work {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &-mail {
    @media (max-width: 720px) {
      margin-bottom: 20px;
      text-align: center;
    }

    &__link {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      color: var(--color-black);
    }

    &__time-work {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &-social {
    display: flex;

    &__link {
      position: relative;
      display: flex;
      max-width: 160px;
      width: 100%;
      border: 1px solid var(--color-black);
      border-radius: 39px;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: var(--color-black);

      .btn__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-transform: none;
      }

      @media (max-width: 720px) {
        width: 150px;
        height: 53px;
      }

      &_vk {
        margin-right: 20px;

        @media (max-width: 720px) {
          padding: 17px 19px 23px 54px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 16px;
          width: 29px;
          height: 19px;
          transform: translateY(-50%);
          background-image: url("data:image/svg+xml,%3Csvg width='29' height='19' viewBox='0 0 29 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.795 19C5.88686 19 0.235478 11.8679 0 0H4.96315C5.12617 8.71071 8.78504 12.4004 11.6832 13.1612V0H16.3567V7.51251C19.2187 7.18919 22.2252 3.76577 23.2396 0H27.913C27.1341 4.64064 23.8737 8.06406 21.5551 9.47147C23.8737 10.6126 27.5871 13.5986 29 19H23.8555C22.7506 15.3864 19.9976 12.5906 16.3567 12.2102V19H15.795Z' fill='%23E9503E'/%3E%3C/svg%3E ");
          background-repeat: no-repeat;
        }
      }

      &_telegram {
        @media (max-width: 720px) {
          padding: 17px 19px 23px 60px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 16px;
          width: 24px;
          height: 20px;
          transform: translateY(-50%);
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.64987 8.60987C8.09231 5.78741 12.3883 3.92667 14.5378 3.02765C20.675 0.460774 21.9503 0.0148807 22.7815 0.000156987C22.9643 -0.00308132 23.3731 0.0424773 23.6379 0.25852C23.8614 0.440943 23.9229 0.687369 23.9524 0.860326C23.9818 1.03328 24.0185 1.42728 23.9893 1.73514C23.6568 5.249 22.2177 13.7762 21.4856 17.7118C21.1758 19.3771 20.5658 19.9354 19.9753 19.9901C18.6919 20.1088 17.7174 19.1372 16.4744 18.3179C14.5294 17.0358 13.4305 16.2377 11.5425 14.9867C9.36064 13.5408 10.7751 12.7462 12.0185 11.4475C12.344 11.1076 17.9985 5.93584 18.1079 5.46668C18.1216 5.40801 18.1343 5.18929 18.0051 5.0738C17.8759 4.95831 17.6851 4.9978 17.5475 5.02921C17.3524 5.07373 14.2452 7.1389 8.22584 11.2247C7.34386 11.8337 6.545 12.1304 5.82924 12.1149C5.04018 12.0977 3.52233 11.6663 2.39397 11.2974C1.00999 10.8451 -0.0899676 10.6059 0.00581423 9.83761C0.0557033 9.43745 0.603723 9.0282 1.64987 8.60987Z' fill='%23E9503E'/%3E%3C/svg%3E ");
          background-repeat: no-repeat;
        }
      }
    }
  }
}