@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/EuclidFlex-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 500;
  src: url("../resources/fonts/EuclidFlex-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/EuclidFlex-Bold.woff") format("woff");
  font-display: swap;
}